.aside-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  .buttons {
    cursor: pointer;
    background: none;
    border: none;
    color: purple;
    margin-bottom: 1rem;
  }
}
