.popup {
  background: rgb(17, 217, 207);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .button-winner-popup {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    color: purple;
    font-size: 1rem;
  }
}
