.sub-title-align {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  input {
    background: white;
    color: black;
    border: 1px solid;
    padding: 0.75rem;
  }

  button {
    background: gray;
    border: none;
    padding: 0.5rem;
  }
}
