.dialog {
  background: rgba(0, 0, 0, 0.5);
  color: black;
  border: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding: 2rem;
      width: 25rem;
      height: 25rem;
      overflow: auto;
      font-weight: bold;
      background: white;

      .dialog-title {
        text-align: center;
      }

      .close-modal-button {
        text-align: right;

        button {
          background: none;
          border: none;
          color: purple;
          cursor: pointer;
        }
      }

      .scores {
        span {
          margin-right: 0.25rem;
        }
      }
    }
  }
}
