:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: white;

  display: flex;
  align-items: center;
}

body {
  margin: 0;
  width: 100%;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}
